<nav class="pagination">
{% if pagination.previousPageHref %}
    <a href="{{ pagination.previousPageHref }}">Previous</a>
{% endif %}
{% if pagination.nextPageHref %}
    <a href="{{ pagination.nextPageHref }}">Next</a>
{% endif %}
</nav>